<app-admin-header>
    <div class="content p-3">


        <nav class="mb-5"
            style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>

        <div class="card p-3">

            <div class="mb-2">
                <p><b>Transactions Table</b></p>
            </div>
            <div class="d-flex justify-content-end mb-3">
                <div class="col col-lg-3">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </div>
            </div>


            <div class="d-flex justify-content-end p-2 mb-4">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal"><i class="bi bi-bag-plus-fill me-2"></i>Add Team Member</button>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Full Name</th>
                            <th scope="col">Reference ID</th>
                            <th scope="col">Created At</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Clinton Onitsha</td>
                            <td>RF239657</td>
                            <td>12-05-2024</td>
                            <td>
                                <button class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!-- Beginning Modal -->
        <div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            data-bs-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Transaction</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!--beginning modal body -->
                    <div class="modal-body">
                        <div class="m-3">
                                <div class="mb-3">
                                    <p>Full Name: Clinton Onitsha</p>
                                    <p>Ref ID: Rf239657</p>
                                    <p>Created At: 12-05-2024</p>
                                </div>

                                <div class="">
                                    <div class="mb-3">
                                        <p><b>Order Table</b></p>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">User Name</th>
                                                    <th scope="col">Product Name</th>
                                                    <th scope="col">Product Image</th>
                                                    <th scope="col">Quantity</th>
                                                    <th scope="col">Product Amount</th>
                                                    <th scope="col">Total</th>
                                                    <th scope="col">Created At</th>
                                                    <th scope="col">Update At</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Clinton Onitsha</td>
                                                    <td>Infinix Hot 5</td>
                                                    <td>Image here</td>
                                                    <td>3</td>
                                                    <td>50,000</td>
                                                    <td>150,000</td>
                                                    <td>12-05-2024</td>
                                                    <td>12-05-2024</td>
                                                    <td>
                                                        <button class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!--end modal body -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of modal -->

    </div>
</app-admin-header>